<!-- MAIN -->
      
    <div ng-include="'dest/viewes/sidenav.html'" layout="vertical"></div>  
    <div ng-include="'dest/viewes/sidenav_2.html'" layout="vertical"></div>
    
    <div layout="column" flex>
        
        <div ng-include="'dest/viewes/toolbar-header.html'"></div>
        
        <md-content id="content">
            
            
            <div ng-include="'dest/viewes/main-content.html'"></div>
            
            
           
                                    
        </md-content>
        
    </div>
    
   

<!-- /MAIN -->